---
---

//
// IMPORTS
//

@import "_reset";
@import "_variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
	background: $white;
  font: 16px/23px $helveticaNeue;
  color: $gray;
  -webkit-font-smoothing: antialiased;
}

.container {
  margin: 0 auto;
  max-width: 960px;
  padding: 0 10px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $helveticaNeue;
  color: $darkGray;
  font-weight: 700;
  line-height: 1.25;
  margin: 0;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}
  
h1 {  
  font-size: 60px;
  margin: 60px 0;
  a {
    color: $red;
    &:hover {
      color: $darkRed;
    }
  }
}

.post h1 {
  font-size: 60px;
  letter-spacing: -.03em;
  line-height: 1.1;
}

#home .post {
  width: 220px;
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  height: 360px;
  overflow: hidden;
}

#home .post h1 {
  font-size: 24px;
  line-height: 1.2;
  min-height: 60px;
  margin: 0 0 12px;
  letter-spacing: normal;
  font-weight: 700;
}

#home h1.site-name {
  font-size: 90px;
  font-weight: 700;
  max-width: 300px;
  margin-top: 30px;
  a {
    color: $darkGray;
  }
}

h2 {  
  font-size: 24px;
  margin: 48px 0 12px;
}

h3 {  
  font-size: 20px;
  margin: 40px 0 10px;
}

h4 {  
  font-size: 18px;
  color: $gray;
  margin: 36px 0 9px;
}

p {
  margin: 15px 0;
}

#home p.site-description {
  font-size: 30px;
  font-weight: 300;
  line-height: 40px;
  max-width: 310px;
  margin-bottom: 120px;
}
#home .entry p {
  color: $gray;
}

a {
  color: $red;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $darkRed;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

.date {
  font-size: 60%;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

//.wrapper-masthead {
//  margin-bottom: 0;
//}

.content-wrapper {
  min-height: 600px;
}
.masthead {
  padding: 20px 0 0;
  border-bottom: 1px solid $lightGray;
  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $darkGray;
  cursor: pointer;
  font-family: $helveticaNeue; 
  font-weight: 300;
  font-size: 28px;
}

.site-description {
  margin: -5px 0 0 0;
  font-size: 14px;
  font-family: $helveticaNeue;
  
  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: right;
  margin-top: 23px; // @TODO: Vertically middle align
  font-family: $helveticaNeue; 
  font-size: 12px;
  
  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
  }

  a {
    margin-left: 20px;
    color: $gray;
    width: 215px;
    display: block;
    float: right;

    @include mobile {
      margin: 0 10px;
      color: $red;
    }
  }
}

//
// .main
//

//.posts > .post {
//  padding-bottom: 2em;
//  border-bottom: 1px solid $lightGray;
//}

//.posts > .post:last-child {
//  padding-bottom: 1em;
//  border-bottom: none;
//}

.post { 
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .eyebrow {
    font-size: 12px;
    line-height: 30px;
    color: $gray;
    padding-top: 6px;
    margin-bottom: 6px;
    border-top: 1px solid $medGray;
  }

  .comments {
    margin-top: 10px;
  }

  .small-link {
    font-size: 11px;
    color: $medGray;
    display: block;
      &:hover {
        color: $red;
      }
  }
  .large-link {
    font-size: 20px;
    color: $darkGray;
    font-weight: 500;
  }
  .primary-link {
    color: #000;
    font-size: 13px;
    font-weight: 500;
  }
  .spacer {
    padding-right: 8px;
    margin-right: 8px;
    border-right: 1px solid $lightGray;
  }
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: $lightGray;
}

footer {
  padding: 20px 0;
  text-align: center;
}

/*********************/
/* NEWSLETTER SIGNUP */
/*********************/

#updates form {
  border-top: 1px solid $gray;
  padding: 60px 0;
  margin-top: 180px;
  input {
    font-family: $helveticaNeue;
  }
}

#updates #tlemail { 

  box-shadow: none;
  width: 320px;
  padding: 6px;  
  border: 1px solid $lightGray;
  border-radius: 3px;
  font-size: 16px;
  line-height: 30px;
}

#updates h4 {
  font-weight: 500;
  color: $darkGray;
}

.btn-primary { 
  background-color: $red; 
  padding: 12px 20px;
  border: none; 
  border-radius: 3px;
  font: 16px $helveticaNeue;
  color: #fff;
}

.tinytype { 
  font: 10px Arial; 
  color: $medGray;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "_highlights";