<div id="updates" class="container">

	 <form action="https://tinyletter.com/femmebot" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/femmebot', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
		<h4><label for="tlemail">Sign up for updates</label></h4>
		<p>
			<input type="text" name="email" id="tlemail" />
			<input type="hidden" value="1" name="embed"/>
			<input type="submit" value="Subscribe" class="btn-primary" />
		</p>
		<p><a href="https://tinyletter.com" target="_blank" class="tinytype">powered by TinyLetter</a></p>
	 </form>  

</div>